@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import "input_range";

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
}

body,
html {
	height: 100%;
}

body {
	background-image: url(images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: hsl(230, 100%, 99%);
	font-size: 15px;
	font-weight: 600;
	font-family: "Manrope", sans-serif;
	color: hsl(225, 20%, 60%);
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.strong__font {
	font-weight: 800;
}

.head {
	text-align: center;
	background-image: url(/images/pattern-circles.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	padding: 50px 0;
	margin: 3rem 0;
	&__heading {
		color: hsl(227, 35%, 25%);
		margin-bottom: 1rem;
	}
}

.card {
	max-width: 600px;
	margin: 0 auto;
	background: hsl(0, 0%, 100%);
	overflow: hidden;
	border-radius: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0px 8px 12px 2px rgba(0, 0, 0, 0.241);
	&__interactive {
		padding: 2rem 3rem;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 2rem;
	}
	&__item.pagevews {
		position: relative;
		flex: 1 1 50%;
		text-transform: uppercase;
		transition: all 0.3s;
	}
	&__item.price {
		flex: 1 1 50%;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: flex-end;
	}
	&__item.range {
		flex: 100%;
	}
	// #price,
	// #pageviews,
	.card__item {
		&.active {
			animation-name: intro;
			animation-duration: 0.3s;
		}
	}
}

.toggle {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	gap: 1rem;
	align-items: center;
	&__inner {
		flex: 0 1 100%;
	}
	&__text_left {
		text-align: end;
	}
	&__text_right {
		text-align: start;
	}
	&__btn {
		cursor: pointer;
		background-color: hsl(223, 50%, 87%);
		max-width: 40px;
		height: 22px;
		border-radius: 22px;
		padding: 2px 4px;
		display: flex;
		align-items: center;
		position: relative;
		transition: background-color 0.5s ease;
		flex: 1 0 40px;
		&:hover {
			background-color: hsl(174, 86%, 45%);
		}
		&_circle {
			position: absolute;
			left: 4px;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background-color: white;
			transition: 0.3s ease;
			&.active {
				left: 20px;
			}
		}
	}
}
.discount {
	display: inline-block;
	background: hsl(14, 92%, 95%);
	color: hsl(15, 100%, 70%);
	padding: 0 8px;
	line-height: 150%;
	border-radius: 8px;
	font-size: 80%;
}

.big__text {
	display: inline-block;
	color: hsl(227, 35%, 25%);
	font-size: 300%;
	font-weight: 800;
}

.footer {
	padding: 2rem 3rem;
	border-top: 1px solid hsl(223deg, 50%, 87%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		list-style-position: inside;
	}
	&__item {
		position: relative;
		&::before {
			margin-right: 0.5rem;
			content: "";
			position: relative;
			display: inline-block;
			width: 16px;
			height: 16px;
			top: 0;
			left: 0;
			background: url(../images/icon-check.svg) no-repeat;
			background-position: center bottom;
		}
	}

	&__btn {
		cursor: pointer;
		height: 50px;
		width: 150px;
		border-radius: 50px;
		color: hsl(226, 100%, 87%);
		background-color: hsl(227, 35%, 25%);
		transition: color 0.5s;
		&:hover {
			color: white;
		}
	}
}

// media
@media screen and (max-width: 600px) {
	body {
		background-size: 100% 120%;
	}
	.head {
		margin: 4vw 0;
		font-size: 3vw;
		padding: 12vw 0;
	}

	.card {
		font-size: 90%;
		&__interactive {
			text-align: center;
			gap: 2rem;
			padding: 2rem 1rem 0;
		}
		&__item.pagevews {
			order: 1;
		}
		&__item.price {
			justify-content: center;
			order: 3;
		}
		&__item.range {
			order: 2;
		}
	}

	.toggle {
		gap: 1rem;

		&__text {
			flex: 1 0 auto;
		}
	}
	.footer {
		justify-content: center;
		flex-direction: column;
		gap: 2rem;
		&__list {
			text-align: center;
		}
	}
}

@keyframes intro {
	from {
		transform: scale(0.5);
		opacity: 0;
		filter: blur(2px);
	}
	to {
		transform: scale(1);
		opacity: 1;
		filter: blur(0);
	}
}
